<!-- AJUSTAR OS COMPONENTS DE ACORDO COM AS NECESSIDADES -->
<!-- <main class="space-y-4">
  <app-header></app-header>
  <app-hero-section></app-hero-section>
  <div>
    <app-product-carousel></app-product-carousel>
  </div>
  <div>
    <app-feature-section></app-feature-section>
  </div>
  <div>
    <app-about-us-section></app-about-us-section>
  </div>
  <app-footer></app-footer>
</main> -->

<main class="w-full h-full flex contet-center justify-center flex-wrap ">
  <h1>Hello World</h1>
</main>