<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<app-page-header [title]="title" [pageSession]="pageSession" />

<section>
  <div *ngIf="loading" class="flex justify-center items-center py-8">
    <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-primary"></div>
  </div>

  <form [formGroup]="form" *ngIf="!loading">
    <div>
      <h2 class="font-bold text-xl mb-2">Dados</h2>
      <div class="grid md:grid-cols-[auto_1fr_1fr_1fr] gap-3">
        <div class="flex flex-col justify-center items-center md:row-span-2 mx-4">
          <img
            (click)="imageInput.click()"
            [src]="avatar ? avatar : 'assets/images/default-photo.png'" alt="Foto do cliente"
            class="h-32 w-32 rounded-full border border-black mx-auto cursor-pointer"
          >
          <p class="text-sm text-center mt-2">Adicione uma foto</p>
          <input type="file" #imageInput class="hidden" (change)="uploadFile($event)">
        </div>

        <div class="md:col-span-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nome completo</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-error *ngIf="form.controls.name.hasError('required')">
              Nome é obrigatório
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="form.controls.email.hasError('required')">
              Email é obrigatório
            </mat-error>
            <mat-error *ngIf="form.controls.email.hasError('email')">
              Email inválido
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Data de nascimento</mat-label>
            <input matInput type="date" formControlName="birthdate">
            <mat-error *ngIf="form.controls.birthdate.hasError('required')">
              Data de nascimento é obrigatória
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Telefone</mat-label>
            <input matInput type="tel" mask="(00) 00000-0000" formControlName="phone" [dropSpecialCharacters]="false">
            <mat-error *ngIf="form.controls.phone.hasError('required')">
              Telefone é obrigatório
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>CPF/CNPJ</mat-label>
            <input matInput type="tel" mask="CPF_CNPJ" formControlName="document" [dropSpecialCharacters]="false">
            <mat-error *ngIf="form.controls.document.hasError('required')">
              CPF/CNPJ é obrigatório
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div formGroupName="address">
      <h2 class="font-bold text-xl mb-2 mt-6">Endereço</h2>
      <div class="grid md:grid-cols-2 gap-3">
        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>CEP</mat-label>
            <input matInput type="text" mask="00000-000" formControlName="zipCode">
            <mat-error *ngIf="form.get('address.zipCode')?.hasError('required')">
              CEP é obrigatório
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Endereço</mat-label>
            <input matInput type="text" formControlName="street">
            <mat-error *ngIf="form.get('address.street')?.hasError('required')">
              Endereço é obrigatório
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Número</mat-label>
            <input matInput type="text" formControlName="number">
            <mat-error *ngIf="form.get('address.number')?.hasError('required')">
              Número é obrigatório
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Complemento</mat-label>
            <input matInput type="text" formControlName="complement">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Bairro</mat-label>
            <input matInput type="text" formControlName="district">
            <mat-error *ngIf="form.get('address.district')?.hasError('required')">
              Bairro é obrigatório
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Cidade</mat-label>
            <input matInput type="text" formControlName="city">
            <mat-error *ngIf="form.get('address.city')?.hasError('required')">
              Cidade é obrigatória
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Estado</mat-label>
            <input matInput type="text" maxlength="2" formControlName="state">
            <mat-error *ngIf="form.get('address.state')?.hasError('required')">
              Estado é obrigatório
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div>
      <h2 class="font-bold text-xl mb-2 mt-6">Acesso</h2>
      <div class="grid md:grid-cols-[auto_1fr_1fr] gap-3">
        <div class="flex flex-col">
            <mat-label>Cliente pode ter acesso?</mat-label>
            <mat-radio-group formControlName="canAccess">
              <mat-radio-button [value]="true" class="mr-4">Sim</mat-radio-button>
              <mat-radio-button [value]="false">Não</mat-radio-button>
            </mat-radio-group>
        </div>

        <ng-container *ngIf="form.controls.canAccess.value">
          <div>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Senha</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button type="button" class="mr-3" mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
    
          <div>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Confirmar senha</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
              <button type="button" class="mr-3" mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </ng-container>
      </div>
    </div>

    <div>
      <h2 class="font-bold text-xl mb-2 mt-6">Pagamento</h2>
      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Selecione um pagamento</mat-label>
          <mat-select formControlName="payment">
            <mat-option value="ex-01">Exemplo 01</mat-option>
            <mat-option value="ex-02">Exemplo 02</mat-option>
            <mat-option value="ex-03">Exemplo 03</mat-option>
            <mat-option value="ex-04">Exemplo 04</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.payment.hasError('required')">
            Pagamento é obrigatório
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="flex justify-end items-center gap-3 mt-6">
      <app-base-button label="Cancelar" styleClass="outlined" (click)="goBack()"></app-base-button>
      <app-base-button label="Salvar" (click)="submit()" disabled="loading"></app-base-button>
    </div>
  </form>
</section>

