<app-page-header [title]="title" [pageSession]="pageSession" />

<section>
  <div class="rounded-xl bg-white shadow-md p-6">
    <mat-card-content>
      <div class="text-right">
        <mat-slide-toggle
          color="primary"
          [checked]="client().active"
          (change)="changeStatus()"
        />
      </div>
      <div class="grid md:grid-cols-[auto_1fr_1fr_1fr] gap-3">
        <div class="rounded-full h-24 w-24 overflow-hidden md:row-span-2">
          <img [src]="client().avatar" alt="">
        </div>
        <app-label-and-info label="Nome" [info]="client().name"></app-label-and-info>
        <app-label-and-info label="CNPJ" [info]="client().document"></app-label-and-info>
        <app-label-and-info label="Status" [info]="client().active | booleanStatus"></app-label-and-info>
        <app-label-and-info label="Email" [info]="client().email"></app-label-and-info>
        <app-label-and-info label="Telefone" [info]="client().phone"></app-label-and-info>
      </div>
    </mat-card-content>
  </div>

  
    <div label="Últimas Avaliações">
      <div class="p-2">
        <h1 class="mt-5 mb-5 font-bold text-lg">Últimas Avaliações</h1>
        <app-commom-table
          [data]="lastReviews()"
          [displayedColumns]="displayedColumns"
        />
      </div>
    </div>
  
</section>