<div class="bg-white rounded-xl shadow-sm p-8">
    <div class="grid grid-cols-1 md:grid-cols-3">
        <!-- Coluna 1 -->
         <div class="space-y-6">
             <div>
                <h4 class="font-semibold text-md">Date de</h4>
                <p class="text-gray-500">{{ data.dateFrom }}</p>
             </div>
             <div>
                <h4 class="font-semibold text-md">Localização</h4>
                <p class="text-gray-500">{{ data.location }}</p>
             </div>
         </div>
         <div>
            <div>
                <h4 class="font-semibold text-md">Até Idade</h4>
                <p class="text-gray-500">{{ data.ageUntil }}</p>
            </div>
         </div>
         <div>
            <div>
                <h4 class="font-semibold text-md">Gênero</h4>
                <p class="text-gray-500">{{ data.gender }}</p>
            </div>
         </div>
    </div>
</div>