<div class="overflow-x-auto">
  <table mat-table class="w-max cursor-pointer" matSort [dataSource]="dataSource">
    
    <!-- Checkbox column -->
    @if (useCheckbox) {
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (change)="onCheckboxChange(row, $event)"
            [checked]="checkboxMarks.includes(row)"
          ></mat-checkbox>
        </td>
      </ng-container>
    }

    @for (item of displayedColumns; track $index) {
      @switch (item.type) {
        @case ('menu') {
          <ng-container matColumnDef="menu">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                @if(useDetailBtn) {
                  <button mat-menu-item (click)="detailClick(row)">
                    <mat-icon>info</mat-icon>
                    <span>Ver detalhes</span>
                  </button>
                }
                @if(useEditBtn) {
                  <button mat-menu-item (click)="editClick(row)">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                }
                @if(useDeleteBtn) {
                  <button mat-menu-item (click)="deleteClick(row)">
                    <mat-icon>highlight_off</mat-icon>
                    <span>Deletar</span>
                  </button>
                }
              </mat-menu>
            </td>
          </ng-container>
        }
        @case ('approvation') {
          <ng-container matColumnDef="approvation">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                @if(row.status === 'Aprovado') {
                  <div class="flex items-center justify-center">
                    <button> 
                      <mat-slide-toggle (change)="changeCampaignStatus($event, row)" />
                    </button>
                  </div>
                }

                @if(row.status === 'Aguardando') {
                  <div class="flex items-center justify-center gap-2">
                    <button (click)="approveCampaign(row)">
                      <mat-icon>check_circle</mat-icon>
                    </button>
                    <button (click)="repprovaCampaign(row)">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </div>
                }
              
            </td>
          </ng-container>
        }
        @case ('currency') {
          <ng-container matColumnDef="{{ item.key }}">
            <th class="font-bold" mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ item.label | titlecase }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row[item.key] | currency: 'BRL' }}</td>
          </ng-container>
        }
        @case ('status') {
          <ng-container matColumnDef="{{ item.key }}">
            <th class="font-bold" mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ item.label | titlecase }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row[item.key] | booleanStatus }}</td>
          </ng-container>
        }
        @default {
          <ng-container matColumnDef="{{ item.key }}">
            <th class="font-bold" mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ item.label | titlecase }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row[item.key] }}</td>
          </ng-container>
        }
      }
    }
    
    <tr mat-header-row *matHeaderRowDef="displayedColumnsKeysWithCheckbox"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsKeysWithCheckbox;" class="hover:bg-gray-200"></tr>
    <tr *matNoDataRow>
      <td class="text-center py-4" [colSpan]="displayedColumnsKeysWithCheckbox.length">
        Sem resultados
      </td>
    </tr>
  </table>

  <mat-paginator
    #paginator
    [length]="resolvedLength"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
    (page)="pagination($event)"
  >
  </mat-paginator>
</div>
