.phone-container {
    height: 600px;
    background-image: url("../../../../../../../../assets/png/phone.png");
    background-repeat: no-repeat;
    width: 78%;
    padding: 50px 20px;

 
}

.phone-content {
    padding: 5px;
    transform: translate(5%, 100%);
    width: 100%;
}

img {
    border-radius: 10px;
}